/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row{
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex-grow: 1;
}

.center {
    align-items: center;
    justify-content: center;
}

mat-expansion-panel-header {
    span{
        overflow: visible !important;
    }
}